# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.db
*.sqlite
*.log
*.pot
*.py[cod]
*.so

# Virtual environments
.venv/
env/
venv/

# IDEs
.vscode/
.idea/

# Jupyter Notebooks
.ipynb_checkpoints/

# Distribution / Packaging
build/
dist/
*.egg-info/

# Pytest
.cache/

# mypy
.mypy_cache/

# PyCharm
.idea/

# VS Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db
